.document-list-container{
    width: 100%;
    padding: 15px 250px;
}
.doc-list-title{
    color: rgb(44, 44, 44);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 15px ;
    margin-bottom: 10px;
}
.doc-list-cards-wrap{
    display: flex;
    flex-wrap: wrap;
}